@use '@styles/variables.module.scss' as *;

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  .crest {
    border-radius: 9px;
    box-shadow: 0 0 0 1px $border-subtle;
  }

  &.sm {
    font-size: 1.5rem;
    gap: 0.8rem;
  }

  &.md {
    font-size: 2rem;
    gap: 1rem;
  }

  &.lg {
    font-size: 2rem;
    gap: 1rem;
  }

  &.hg {
    font-size: 2.3rem;
    gap: 2rem;
  }

  &.split {
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }

  .text {
    font-family: $font-heading;
    letter-spacing: -0.02em;

    display: flex;

    .dark {
      color: #7d766a;
      font-weight: 500;

      display: block;
      align-items: center;
    }

    .light {
      color: $color-secondary;
      font-weight: 700;
    }
  }
}
