@use '@styles/variables.module.scss' as *;

.admin-dashboard {
  padding: 5rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;

  .value {
    display: block;
    margin-top: 1rem;

    font-size: 2rem;
    font-weight: 800;
    font-family: $font-heading;
    font-variant-numeric: tabular-nums;
    color: $text-strong;
  }
}

@media (max-width: $bp-medium-small) {
  .admin-dashboard {
    padding: 1.4rem;
    grid-template-columns: 1fr;
    gap: 1.4rem;
  }
}
