@use '@styles/variables.module.scss' as *;

.tag {
  height: 2.6rem;
  padding: 0 1.2rem;
  border-radius: $border-radius-pill;
  border: 1px solid;

  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: 0.03em;

  display: flex;
  align-items: center;
  width: fit-content;
}

// Colors
.green {
  background: $color-tag-green-bg;
  color: $color-tag-green-text;
  border-color: $color-tag-green-border;
}

.yellow {
  background: $color-tag-yellow-bg;
  color: $color-tag-yellow-text;
  border-color: $color-tag-yellow-border;
}

.red {
  background: $color-tag-red-bg;
  color: $color-tag-red-text;
  border-color: $color-tag-red-border;
}

.blue {
  background: $color-tag-blue-bg;
  color: $color-tag-blue-text;
  border-color: $color-tag-blue-border;
}
