@use '@styles/variables.module.scss' as *;

.header-area {
  flex-shrink: 0; // Prevent header from changing height

  height: 6rem;
  border-bottom: 1px solid $border;
  background: $color-primary;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .header {
    width: 100%;
    padding-inline: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .actions {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }
  }
}
